{
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["babel", "react", "@typescript-eslint"],
  "env": {
    "browser": true
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 } ],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-unused-vars": 1
  },
  "settings": {
    "react": {
      "version": "require('./package.json').dependencies.react"
    }
  }
}
